<h1> Test <%= @test.title %> </h1>

<p>
  <strong>Level:</strong>
  <%= test_level(@test) %>
</p>

<h2> Questions</h2>

<p>
  <%= link_to "New Question", new_test_question_path(@test) %>
</p>

<table>
  <%= render @questions %>
</table>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>

