<header> 
  <%= link_to 'TestGuru', root_path %>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li>Welcome, <%= current_user.name %> Guru</li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </nav>  
</header>    
